@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-dark-gray: #0e0e0e;
  --color-deep-gray: #7a7a7a;
  --color-mid-gray: #c8c8c8;
  --color-main-white: #ffffff;
}

html[lang="ar"] * {
  font-family: var(--font-arabic), sans-serif !important;
}

html[lang="en"] * {
  font-family: var(--font-montserrat), sans-serif !important;
}

body {
  background-color: #000000;
}

/* Navigation Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.parallax img,
.parallax video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
